In [1]:
import pandas as pd

In [2]:
orders = pd.read_excel("./Sample - Superstore Sales.xls",0)

In [3]:
orders.head(3)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.2500,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.02,0.07,Delivery Truck,457.8100,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,2012-10-01,High,27,244.57,0.01,Regular Air,46.7075,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03

In [4]:
orders.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

### Subsetting and creating new dataframe :

In [7]:
order_subset =pd.DataFrame(orders,columns=['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment'])

In [8]:
order_subset.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.2500,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,457.8100,208.16,68.02,Barry French,Nunavut,Nunavut,Consumer
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,46.7075,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,1198.9710,195.99,3.99,Clay Rozendal,Nunavut,Nunavut,Corporate
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,30.9400,21.78,5.94,Carlos Soltero,Nunavut,Nunavut,Consumer

### Subsetting the column

In [11]:
order_subset["Order Date"]

0      2010-10-13
1      2012-10-01
2      2012-10-01
3      2011-07-10
4      2010-08-28
5      2010-08-28
6      2011-06-17
7      2011-06-17
8      2011-03-24
9      2010-02-26
10     2010-11-23
11     2010-11-23
12     2012-06-08
13     2012-06-08
14     2012-08-04
15     2011-05-30
16     2009-11-25
17     2012-02-14
18     2012-02-14
19     2012-04-15
20     2012-04-15
21     2010-03-12
22     2010-03-12
23     2011-03-09
24     2011-03-09
25     2012-08-04
26     2011-05-06
27     2010-12-23
28     2010-11-08
29     2012-10-21
          ...
8369   2012-09-03
8370   2012-09-03
8371   2010-07-29
8372   2010-07-29
8373   2010-04-20
8374   2010-04-20
8375   2009-07-02
8376   2009-07-02
8377   2012-12-16
8378   2010-02-04
8379   2012-04-28
8380   2012-04-28
8381   2011-06-28
8382   2009-04-26
8383   2011-05-06
8384   2011-05-06
8385   2010-11-07
8386   2010-05-15
8387   2010-05-15
8388   2011-04-17
8389   2012-09-12
8390   2009-09-15
8391   2010-10-08
8392   2012-07-09
8393   2011-07-30
8394   2010-08-09
8395   2010-08-09
8396   2011-04-08
8397   2011-04-08
8398   2009-02-08
Name: Order Date, Length: 8399, dtype: datetime64[ns]

### with .(dot) notation :

In [12]:
order_subset.Sales

0         261.5400
1       10123.0200
2         244.5700
3        4965.7595
4         394.2700
5         146.6900
6          93.5400
7         905.0800
8        2781.8200
9         228.4100
10        196.8500
11        124.5600
12        716.8400
13       1474.3300
14         80.6100
15       1815.4900
16        248.2600
17       4462.2300
18        663.7840
19        834.9040
20       2480.9205
21         59.0300
22         97.4800
23        511.8300
24        184.9900
25         80.9000
26         67.2400
27      12028.2300
28        370.4800
29        278.0000
           ...
8369       22.8900
8370      271.8500
8371    12719.7000
8372      109.7800
8373      561.6600
8374     1851.6200
8375     2453.3000
8376      147.0200
8377     1558.9425
8378      257.3900
8379      163.5400
8380     2390.5400
8381     4644.8700
8382       38.9600
8383      978.4000
8384     5126.4180
8385       82.1200
8386       22.8500
8387    12007.0500
8388     5347.9875
8389      322.4700
8390     1488.6600
8391     2200.6400
8392     1041.6600
8393    10071.0900
8394     1294.0400
8395      392.5700
8396      823.7800
8397      469.8375
8398     2026.0100
Name: Sales, Length: 8399, dtype: float64

### Deleting the column from the dataframe:

In [13]:
del order_subset["Sales"]

In [14]:
order_subset.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment
0,1,3,2010-10-13,Low,6,0.04,Regular Air,-213.2500,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business
1,49,293,2012-10-01,High,49,0.07,Delivery Truck,457.8100,208.16,68.02,Barry French,Nunavut,Nunavut,Consumer
2,50,293,2012-10-01,High,27,0.01,Regular Air,46.7075,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer
3,80,483,2011-07-10,High,30,0.08,Regular Air,1198.9710,195.99,3.99,Clay Rozendal,Nunavut,Nunavut,Corporate
4,85,515,2010-08-28,Not Specified,19,0.08,Regular Air,30.9400,21.78,5.94,Carlos Soltero,Nunavut,Nunavut,Consumer